.navbar {
background-color:greenyellow;
}
.carousel-item{
    height: 100vh;
}
.progress{
    margin-bottom: 25px;
}
.block-skills{
    margin-top: 30px;
}

.block-skills h1{
    font-weight: bold;
    font-size: 35;
    color: rgba(12, 55, 129)
}
.skills-text{
    margin-top: 50px;
}
h1{
    font-weight: bold;
    font-size: 35px;
    color: rgb(12, 55, 129);
}
.contact-text{
    margin: 50px;
}
.contact-form{
    background-color: chocolate;
    padding: 50px;
    border-radius: 10px;
}
.form-floating
{
    margin-bottom: 15px;
}

/* Mobile */

@media screen and (min-width:320px) and (max-width:480px) {
    body{
        background-color: rgb(7, 6, 7);
    }
    .card{margin: 15px;
    width: 300px;}
}

/* Tablette*/
@media screen and (min-width:481px) and (max-width:768px) {
    
    .card{margin: 15px;
    }
}
/*Laptop*/
@media screen and (min-width:769px) and (max-width:1024px) {
    b
       .card{margin: 15px;
    }
}
/*grand écran*/

@media screen and (min-width:1025px) and (max-width:1200px) {
    
     .card{margin: 15px;
        }
}

/*extra large */
@media screen and (min-width:1201px)  {
   
*card{
    margin: 10px;
}

}